<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>legou</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>CommodityFrontController</servlet-name>
    <servlet-class>com.legou.modules.commodity.web.CommodityFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommodityFrontController</servlet-name>
    <url-pattern>/f</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>com.legou.modules.user.web.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.legou.modules.user.web.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckNameController</servlet-name>
    <servlet-class>com.legou.modules.user.web.CheckNameController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckNameController</servlet-name>
    <url-pattern>/checkname</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckPwdController</servlet-name>
    <servlet-class>com.legou.modules.user.web.CheckPwdController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckPwdController</servlet-name>
    <url-pattern>/checkpwd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckLgPwdController</servlet-name>
    <servlet-class>com.legou.modules.user.web.CheckLgPwdController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckLgPwdController</servlet-name>
    <url-pattern>/checklgpwd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminLoginController</servlet-name>
    <servlet-class>com.legou.modules.sys.web.AdminLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginController</servlet-name>
    <url-pattern>/adminlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckAdminNameController</servlet-name>
    <servlet-class>com.legou.modules.sys.web.CheckAdminNameController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckAdminNameController</servlet-name>
    <url-pattern>/checkadminname</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckAdminPwdController</servlet-name>
    <servlet-class>com.legou.modules.sys.web.CheckAdminPwdController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckAdminPwdController</servlet-name>
    <url-pattern>/checkadminpwd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CommodityManageController</servlet-name>
    <servlet-class>com.legou.modules.sys.web.CommodityManageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommodityManageController</servlet-name>
    <url-pattern>/commoditymanage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TypestController</servlet-name>
    <servlet-class>com.legou.modules.category.web.TypestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TypestController</servlet-name>
    <url-pattern>/typest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TypendController</servlet-name>
    <servlet-class>com.legou.modules.category.web.TypendController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TypendController</servlet-name>
    <url-pattern>/typend</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TyperdController</servlet-name>
    <servlet-class>com.legou.modules.category.web.TyperdController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TyperdController</servlet-name>
    <url-pattern>/typerd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TradeorderController</servlet-name>
    <servlet-class>com.legou.modules.tradeorder.web.TradeorderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TradeorderController</servlet-name>
    <url-pattern>/tradeorder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateUserController</servlet-name>
    <servlet-class>com.legou.modules.user.web.UpdateUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserController</servlet-name>
    <url-pattern>/updateuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LikeCommodityComtroller</servlet-name>
    <servlet-class>com.legou.modules.commodity.web.LikeCommodityComtroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LikeCommodityComtroller</servlet-name>
    <url-pattern>/likecommodity</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LikeUserController</servlet-name>
    <servlet-class>com.legou.modules.user.web.LikeUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LikeUserController</servlet-name>
    <url-pattern>/likeuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelUserController</servlet-name>
    <servlet-class>com.legou.modules.user.web.DelUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelUserController</servlet-name>
    <url-pattern>/deluser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DJUserController</servlet-name>
    <servlet-class>com.legou.modules.user.web.DJUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DJUserController</servlet-name>
    <url-pattern>/djuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LikeTypestController</servlet-name>
    <servlet-class>com.legou.modules.category.web.LikeTypestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LikeTypestController</servlet-name>
    <url-pattern>/liketypest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LikeTypendController</servlet-name>
    <servlet-class>com.legou.modules.category.web.LikeTypendController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LikeTypendController</servlet-name>
    <url-pattern>/liketypend</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LikeTyperdController</servlet-name>
    <servlet-class>com.legou.modules.category.web.LikeTyperdController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LikeTyperdController</servlet-name>
    <url-pattern>/liketyperd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LikeTradeorderController</servlet-name>
    <servlet-class>com.legou.modules.tradeorder.web.LikeTradeorderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LikeTradeorderController</servlet-name>
    <url-pattern>/likedingdan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelCommodityController</servlet-name>
    <servlet-class>com.legou.modules.commodity.web.DelCommodityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelCommodityController</servlet-name>
    <url-pattern>/delshangpin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelTypestController</servlet-name>
    <servlet-class>com.legou.modules.category.web.DelTypestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelTypestController</servlet-name>
    <url-pattern>/deltypest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelTypendController</servlet-name>
    <servlet-class>com.legou.modules.category.web.DelTypendController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelTypendController</servlet-name>
    <url-pattern>/deltypend</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelTyperdController</servlet-name>
    <servlet-class>com.legou.modules.category.web.DelTyperdController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelTyperdController</servlet-name>
    <url-pattern>/deltyperd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelTradeorderController</servlet-name>
    <servlet-class>com.legou.modules.tradeorder.web.DelTradeorderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelTradeorderController</servlet-name>
    <url-pattern>/deldingdan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateCommodityController</servlet-name>
    <servlet-class>com.legou.modules.commodity.web.UpdateCommodityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCommodityController</servlet-name>
    <url-pattern>/upcommodity</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpTypestController</servlet-name>
    <servlet-class>com.legou.modules.category.web.UpTypestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpTypestController</servlet-name>
    <url-pattern>/uptypest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpTypendController</servlet-name>
    <servlet-class>com.legou.modules.category.web.UpTypendController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpTypendController</servlet-name>
    <url-pattern>/uptypend</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpTyperdController</servlet-name>
    <servlet-class>com.legou.modules.category.web.UpTyperdController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpTyperdController</servlet-name>
    <url-pattern>/uptyperd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpTradeorderController</servlet-name>
    <servlet-class>com.legou.modules.tradeorder.web.UpTradeorderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpTradeorderController</servlet-name>
    <url-pattern>/uptradeorder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddTypestController</servlet-name>
    <servlet-class>com.legou.modules.category.web.AddTypestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTypestController</servlet-name>
    <url-pattern>/addtypest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddTypendController</servlet-name>
    <servlet-class>com.legou.modules.category.web.AddTypendController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTypendController</servlet-name>
    <url-pattern>/addtypend</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddTyperdController</servlet-name>
    <servlet-class>com.legou.modules.category.web.AddTyperdController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTyperdController</servlet-name>
    <url-pattern>/addtyperd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FileUpload</servlet-name>
    <servlet-class>com.legou.test.FileUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUpload</servlet-name>
    <url-pattern>/fileUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FileUp</servlet-name>
    <servlet-class>com.legou.test.FileUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUp</servlet-name>
    <url-pattern>/fileup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddCommodityController</servlet-name>
    <servlet-class>com.legou.modules.commodity.web.AddCommodityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCommodityController</servlet-name>
    <url-pattern>/addcommodity</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GuanggaoController</servlet-name>
    <servlet-class>com.legou.modules.message.web.GuanggaoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuanggaoController</servlet-name>
    <url-pattern>/guanggao</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PinglunController</servlet-name>
    <servlet-class>com.legou.modules.message.web.PinglunController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PinglunController</servlet-name>
    <url-pattern>/pinglun</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GongGaoController</servlet-name>
    <servlet-class>com.legou.modules.message.web.GongGaoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GongGaoController</servlet-name>
    <url-pattern>/gonggao</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HuifuController</servlet-name>
    <servlet-class>com.legou.modules.message.web.HuifuController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HuifuController</servlet-name>
    <url-pattern>/huifu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LeavewordController</servlet-name>
    <servlet-class>com.legou.modules.message.web.LeavewordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeavewordController</servlet-name>
    <url-pattern>/leaveword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddGuangGaoController</servlet-name>
    <servlet-class>com.legou.modules.message.web.AddGuangGaoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGuangGaoController</servlet-name>
    <url-pattern>/addguanggao</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpGuangGaoController</servlet-name>
    <servlet-class>com.legou.modules.message.web.UpGuangGaoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpGuangGaoController</servlet-name>
    <url-pattern>/upguanggao</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelGuangGaoController</servlet-name>
    <servlet-class>com.legou.modules.message.web.DelGuangGaoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelGuangGaoController</servlet-name>
    <url-pattern>/delguanggao</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddHuifuController</servlet-name>
    <servlet-class>com.legou.modules.message.web.AddHuifuController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddHuifuController</servlet-name>
    <url-pattern>/addhuifu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelHuifuController</servlet-name>
    <servlet-class>com.legou.modules.message.web.DelHuifuController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelHuifuController</servlet-name>
    <url-pattern>/delhuifu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelPinglunController</servlet-name>
    <servlet-class>com.legou.modules.message.web.DelPinglunController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelPinglunController</servlet-name>
    <url-pattern>/delpinglun</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Gonggao_insert_adminController</servlet-name>
    <servlet-class>com.legou.modules.message.web.Gonggao_insert_adminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Gonggao_insert_adminController</servlet-name>
    <url-pattern>/gonggao_insert_admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Gonggao_update_adminController</servlet-name>
    <servlet-class>com.legou.modules.message.web.Gonggao_update_adminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Gonggao_update_adminController</servlet-name>
    <url-pattern>/gonggao_update_admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Delet_gonggao_adminController</servlet-name>
    <servlet-class>com.legou.modules.message.web.Delet_gonggao_adminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delet_gonggao_adminController</servlet-name>
    <url-pattern>/delet_gonggao_admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LikePingLunController</servlet-name>
    <servlet-class>com.legou.modules.message.web.LikePingLunController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LikePingLunController</servlet-name>
    <url-pattern>/likepinglun</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExitController</servlet-name>
    <servlet-class>com.legou.modules.user.web.ExitController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExitController</servlet-name>
    <url-pattern>/exit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminFrontController</servlet-name>
    <servlet-class>com.legou.modules.sys.web.AdminFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminFrontController</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
	<servlet>
    <servlet-name>UpAdminPwdController</servlet-name>
    <servlet-class>com.legou.modules.sys.web.UpAdminPwdController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpAdminPwdController</servlet-name>
    <url-pattern>/upadminpwd</url-pattern>
  </servlet-mapping>
</web-app>